.container {
  margin: 40px;
}
.row{
    display: grid;
  grid-template-columns: 4fr  8fr;
}
h2 {
  line-height: 5rem;
}
.heading {
  text-align: center;
}
button {
  padding: 10px;
  background-color: rgb(54, 53, 53);
  color: white;
  border: 1px solid;
  border-radius: 5px;
}
